@model IEnumerable<ActionBoard.Models.Todo>

@{
    ViewData["Title"] = "Todo List";
}

<div class="todo-container">
    <div class="todo-header">
        <h1 class="todo-title">Todo List</h1>
        <a asp-action="Create" class="btn-add-todo">
            Add New Todo
        </a>
    </div>

    @if (!Model.Any())
    {
        <div class="todo-empty">
            <p class="todo-empty-text">No todos yet. Create your first todo!</p>
        </div>
    }
    else
    {
        <div class="todo-list">
            <ul class="todo-items">
                @foreach (var todo in Model)
                {
                    <li class="todo-item">
                        <div class="todo-item-content">
                            <div class="todo-item-left">
                                <form asp-action="ToggleComplete" asp-route-id="@todo.Id" method="post" class="todo-checkbox-form">
                                    <button type="submit" class="todo-checkbox @(todo.IsCompleted ? "todo-checkbox-completed" : "")">
                                        @if (todo.IsCompleted)
                                        {
                                            <svg class="todo-checkbox-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                            </svg>
                                        }
                                    </button>
                                </form>
                                <div class="todo-details">
                                    <h3 class="todo-item-title @(todo.IsCompleted ? "todo-item-title-completed" : "")">@todo.Title</h3>
                                    @if (!string.IsNullOrEmpty(todo.Description))
                                    {
                                        <p class="todo-item-description">@todo.Description</p>
                                    }
                                    <p class="todo-item-date">Created: @todo.CreatedAt.ToString("MMM dd, yyyy HH:mm")</p>
                                </div>
                            </div>
                            <form asp-action="Delete" asp-route-id="@todo.Id" method="post" class="todo-delete-form">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn-delete-todo">
                                    <svg class="todo-delete-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
</div> 